.table-striped th {
    background: #000;
    color: #fff;
}

.table-striped {
    counter-reset: rowNum;
}

.table-striped th,td {
    padding: 5px 10px;
}

.table-striped tbody tr :first-child:before {
    counter-increment: rowNum;
    content: counter(rowNum) ".";
}

.table-striped tbody tr:nth-child(odd) {
    background: #fff;
}

.table-striped tbody tr:nth-child(even) {
    background: #ccc;
}

.table-striped tbody tr:nth-child(1),
tr:nth-child(2),
tr:nth-child(3) {
    color: red;
}